<h3>Welcome to Adtelligent</h3>
	<img class="full-width" src="https://bos.digital/wp-content/uploads/2021/01/AdobeStock_300144034-min.jpg" />
	<p>
	Adtelligent is a one-stop shop for digital media and advertising in Jamaica.
	</p>
	<a class="button" href="/users/register">Sign Up Free</a>
	<P>You need to signup to register for courses</p>
