<h2>{{student.first_name}}'s Departments</h2>




<form action="/classes/search" class="form-inline" method="POST">
	<div class="form-group">
	<input id="text2" type="text" name="term" placeholder="Intro to Web Development" class="form-control" />
	<input id="classes" type="submit" class="btn btn-default" value="Search">
	</div>
</form>


<table cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th>Department ID</th>
			<th>Department Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each student.classes}}
			<tr>
				<td>{{_id}}</td>

				<td>{{class_title}}</td>
				<td><a class="button" href="/classes/{{_id}}/lessons">View Course</a></td>
				
			</tr>
		{{/each}}
	</tbody>
</table>