<h2>Add Department</h2>
<form id="regForm" method="post" action="/instructors/classes/new">
	
	<div>
		<label>Department ID: </label>
		<input type="number" name="id">
	</div><br />
	<div>
		<label>Department Title: </label>
		<input type="text" name="title">
	</div><br />
    <div>
		<label>Department Description: </label>
		<input type="text" name="description">
	</div><br />
	<div>
		<label>Instructor: </label>
		<input type="text" name="instructor">
	</div><br />
	<div>
		<input type="submit" value="Add Department">
	</div>
</form>