<a href="/classes/{{class_id}}/lessons">Back to courses</a>
<h2>{{lesson.lesson_title}}</h2>

<a class="button orange" href="{{lessons.lesson_body}}"><i class="fa fa-music"></i> Click here to view course</a>

<input type="checkbox" id="check1" />
<label for="check1" class="inline">Complete</label>
</br>
<p><textarea id="textarea1" placeholder="Make a Comment"></textarea></br>
<button type="submit"size="small">Submit</button></p>

